---
import Logo from './Logo.astro'
---

<nav class="flex items-center justify-between px-5 md:px-20">
  <Logo size={54} />
  <div>
    <a
      href="#works"
      class="mr-4 border-b border-light pb-1 text-lg hover:border-primary md:mr-7"
      aria-label="Works"
    >
      works
    </a>
    <a
      href="#about"
      class="border-b border-light pb-1 text-lg hover:border-primary"
      aria-label="About"
    >
      about
    </a>
  </div>
</nav>
